[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0320: Make anonymous function static
dotnet_diagnostic.IDE0320.severity = suggestion

# IDE0320: Make anonymous function static
csharp_prefer_static_anonymous_function = false
